<div *ngIf="scores">
	<div>
		<ngx-charts-line-chart
			*ngIf="scores.compounding"
			[view]="[960,500]"
			[results]="scores.compounding"
			[xAxis]="true"
			[yAxis]="true"
			[legend]="true"
			[legendPosition]="legendPosition"
			[legendTitle]="''"
			[showXAxisLabel]="true"
			[showYAxisLabel]="true"
			[xAxisLabel]="'Week'"
			[yAxisLabel]="'Season Score by Week'"
			[autoScale]="true">
		</ngx-charts-line-chart>
	</div>

	<div>
		<ngx-charts-line-chart
			*ngIf="scores.weekly"
			[view]="[960,200]"
			[results]="scores.weekly"
			[xAxis]="true"
			[yAxis]="true"
			[legend]="true"
			[legendPosition]="legendPosition"
			[legendTitle]="''"
			[showXAxisLabel]="true"
			[showYAxisLabel]="true"
			[xAxisLabel]="'Week'"
			[yAxisLabel]="'Score by Week'"
			[autoScale]="true">
		</ngx-charts-line-chart>
	</div>
</div>