<mat-card *ngIf="kw">
	<mat-card-header>
		<div mat-card-avatar (dblclick)="toggleFavorite()">
			<mat-icon *ngIf="kw.favorite">label</mat-icon>
			<mat-icon *ngIf="!kw.favorite" class="muted">label_outline</mat-icon>
		</div>
		<mat-card-title>{{kw.keyword}}</mat-card-title>
		<div class="mat-mdc-card-suffix" (click)="toggleLevel()">
			<mat-icon *ngIf="!kw.level">unfold_more</mat-icon>
			<mat-icon *ngIf="level1">unfold_more_double</mat-icon>
			<mat-icon *ngIf="level2">unfold_less_double</mat-icon>
		</div>
	</mat-card-header>
	<mat-card-content *ngIf="level1 || level2">
		<div *ngIf="kw.flavor || level1">
			<p><em [innerHtml]="kw.flavor | legendaryStyles | legendaryIcons"></em></p>
		</div>
		<div *ngIf="kw.definition && (level1 || level2)">
			<p [innerHTML]="kw.definition | legendaryStyles | legendaryIcons"></p>
		</div>
		<div *ngIf="kw.clarification?.length && level1">
			<ul>
				<li *ngFor="let c of kw.clarification" [innerHtml]="c | legendaryStyles | legendaryIcons"></li>
			</ul>
		</div>
	</mat-card-content>
	<mat-card-footer align="center" *ngIf="kw.source && level1">
		<em><small>{{kw.source.join(' / ')}}</small></em>
	</mat-card-footer>
</mat-card>