:host {
	::ng-deep img {
		height: 1.2em;
		vertical-align: middle;
	}

	::ng-deep .mat-mdc-card-header {
		> *:nth-child(1),
		> *:nth-child(3) {
			flex: 0 0 24px;
		}
		> *:nth-child(2) {
			flex: 1 0 auto;
		}
	}

	.mat-mdc-card-title > div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1em;
		width: 100%;
	}

	.mat-mdc-card-avatar {
		margin-bottom: 0;
	}

	.mat-mdc-card-suffix {
		height: 40px;
		width: 40px;
		border-radius: 50%;
		flex-shrink: 0;
		margin-bottom: 0;
		object-fit: cover;
	}

	.mat-mdc-card-footer {
		padding: 0 1em;
	}

	div.section {
		font-weight: bolder;
		font-size: 0.5em;
		line-height: 1em;
		color: #bbb;
		margin-top: -2em;
		padding-left: 0.75em;
	}
}
