.event_nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/*
.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

mat-card {
  width: 24em;

  mat-card-header {
    font-size: 2.5em;
  }
}

table {
  width: 100%;
}
*/
