<mat-card><!--*ngIf="admin"-->
	<mat-card-content>
		<table mat-table [dataSource]="dataSource" matSort>
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Event</th>
				<td mat-cell *matCellDef="let r">{{r.name}}</td>
			</ng-container>

			<ng-container matColumnDef="score">
				<th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Points</th>
				<td mat-cell *matCellDef="let r"><div class="right">{{r.score | number:'1.2-2'}}</div></td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="['name','score']"></tr>
			<tr mat-row *matRowDef="let row; columns: ['name','score'];"></tr>
		</table>

		<mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
	</mat-card-content>
</mat-card>