<section>
	<header>
		<h3 *ngIf="hasFavorites">
			<div class="split">
				<strong>Favorites</strong>
				<mat-icon (dblclick)="reset()">label_off</mat-icon>
			</div>
		</h3>
	</header>

	<div class="list">
		<div *ngFor="let rec of data | filterByImpure:['favorite']:'favorite' | orderBy:'+keyword'">
			<legendary-keyword [keyword]="rec"></legendary-keyword>
		</div>
	</div>

	<footer>
		<hr *ngIf="hasFavorites" />
	</footer>
</section>

<section>
	<mat-form-field>
		<mat-label>Filter</mat-label>
		<input matInput type="text" [(ngModel)]="filter" />
		<mat-icon matSuffix (click)="filter=null">clear</mat-icon>
	</mat-form-field>

	<div class="list">
		<div *ngFor="let rec of data | filterByNot:['favorite']:'favorite' | filterBy:['keyword']:filter | orderBy:'+keyword'">
			<legendary-keyword [keyword]="rec"></legendary-keyword>
		</div>
	</div>
</section>