::ng-deep app-recipes {
    > div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        column-gap: 1em;
        row-gap: 1em;
        margin: 1em;
    }
}
