<div>
    <mat-card *ngFor="let recipe of recipes">
        <mat-card-header>
            <mat-card-title>{{recipe.title}}</mat-card-title>
            <mat-card-subtitle *ngIf="recipe.subtitle">{{recipe.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <table>
                <tr *ngFor="let ingredient of recipe.ingredients">
                    <td><strong>{{ingredient.amount}}</strong></td>
                    <td>{{ingredient.item}}</td>
                </tr>
            </table>
            <p *ngFor="let instruction of recipe.instructions | orderBy:'order'">
                <span *ngIf="instruction.text">- {{instruction.text}}</span>
                <span *ngIf="instruction.optional">&nbsp; <em>(optional: {{instruction.optional}})</em></span>
            </p>
        </mat-card-content>
    </mat-card>
</div>