<mat-card *ngIf="data && data.length">
  <mat-card-content>
    <div *ngFor="let r of data" class="event" [ngClass]="{'grey':r.ispast}" (click)="dialogEditOpen(r)">
      <div class="icon">
        <mat-icon mat-list-icon *ngIf="r.istuesday">restaurant</mat-icon>
        <mat-icon mat-list-icon *ngIf="r.isthursday">fastfood</mat-icon>
        <mat-icon mat-list-icon *ngIf="r.islan">keyboard</mat-icon>
        <mat-icon mat-list-icon *ngIf="r.ismovie">local_movies</mat-icon>
        <mat-icon mat-list-icon *ngIf="r.isevent || r.issignup || r.issignupsimple || r.issignupnocount">event_note
        </mat-icon>
      </div>
      <div class="date">
        <div>{{r.date | date:'MMM-dd'}}</div>
        <small><small>{{r.date | date:'h:mm a'}}</small></small>
      </div>
      <div class="content">
        <div>{{r.title}}</div>
        <small>
          <span *ngIf="r.istuesday">Tuesday Night</span>
          <span *ngIf="r.isthursday">Thursday Lunch</span>
          <span *ngIf="r.islan">LAN Event</span>
          <span *ngIf="r.ismovie">Movie</span>
          <span *ngIf="r.isevent || r.issignup || r.issignupsimple || r.issignupnocount">Event</span>
          <span *ngIf="r.location && !r.isthursday"> @ {{r.location}}</span>
          <span *ngIf="r.location && r.isthursday"> by {{r.owner}}</span>
        </small>
      </div>
      <div class="action">
        <button mat-icon-button>
          <mat-icon>ellipsis-v</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #templateEdit>
  <form [formGroup]="formEdit" (ngSubmit)="dialogEditSubmit(formEdit)">
    <h1 mat-dialog-title>Event Editor</h1>
    <mat-dialog-content>
      <mat-form-field *ngIf="!formEdit.value.status">
        <mat-label>URL Name</mat-label>
        <input matInput formControlName="event" type="text" />
        <mat-error *ngIf="formEdit.controls.event.invalid">Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Title (pretty)</mat-label>
        <input matInput formControlName="title" type="text" />
        <mat-error *ngIf="formEdit.controls.title.invalid">Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date/Time</mat-label>
        <input matInput formControlName="date" type="datetime-local">
        <mat-error *ngIf="formEdit.controls.date.invalid">Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option value="signup">Event (full signup)</mat-option>
          <mat-option value="signupsimple">Event (counts only)</mat-option>
          <mat-option value="signupnocount">Event (single)</mat-option>
          <mat-option value="lan">LAN</mat-option>
          <mat-option value="movie">Movie</mat-option>
          <mat-option value="thursday">Thursday</mat-option>
          <mat-option value="tuesday">Tuesday</mat-option>
        </mat-select>
        <mat-error *ngIf="formEdit.controls.type.invalid">Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Location</mat-label>
        <input matInput formControlName="location" type="text" />
        <mat-error *ngIf="formEdit.controls.location.invalid">Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Creator</mat-label>
        <input matInput formControlName="owner" type="text" />
        <mat-error *ngIf="formEdit.controls.owner.invalid">Required</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="formEdit.value.status">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="active">Active</mat-option>
          <mat-option value="disabled">Disabled</mat-option>
        </mat-select>
        <mat-error *ngIf="formEdit.controls.status.invalid">Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Link URL</mat-label>
        <input matInput formControlName="link" type="url" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Image</mat-label>
        <input matInput formControlName="image" type="text" />
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-flat-button color="primary" type="submit" [disabled]="formEdit.invalid">Accept</button>
    </mat-dialog-actions>
  </form>
</ng-template>