<div [class]="getClasses()">
	<img src="/img/bb/{{houseguest.hkey}}.jpg" [alt]="houseguest.fullname + ' - Big Brother'" />
	<div class="icons">
		<mat-icon inline class="evicted" *ngIf="houseguest.evicted">visibility_off</mat-icon>
		<mat-icon inline class="hoh" *ngIf="houseguest.hoh">key</mat-icon>
		<mat-icon inline class="nominated" *ngIf="houseguest.nominated">person</mat-icon>
		<mat-icon inline class="pov" *ngIf="houseguest.pov">block</mat-icon>
		<mat-icon inline class="saved" *ngIf="houseguest.saved">person_off</mat-icon>
	</div>
</div>