:host {
	.houseguest {
		position: relative;

		img {
			max-width: 100%;
		}

		&.evicted {
			img {
				filter: grayscale(1);
			}
		}

		.icons {
			position: absolute;
			top: 0;
			left: 0;

			text-align: right;
			font-size: 8.2cqmin;
			line-height: 1em;

			> * {
				margin: 0 0.05em;
			}
			.evicted {
				color: white;
			}
			.hoh {
				color: lime;
			}
			.nominated {
				color: red;
			}
			.pov {
				color: gold;
			}
			.saved {
				color: black;
			}
		}
	}
}
