mat-toolbar {
  display: flex;
  justify-content: flex-start;

  * + * {
    margin-left: 0.5em;
  }
}

mat-sidenav-container {
  top: 64px !important;
}

@media (max-width: 599px) {
  mat-sidenav-container {
    top: 56px !important;
  }
}

mat-sidenav-content {
  padding: 0.5em;
}
