:host {
    mat-toolbar > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > a {
            text-decoration: none;
            color: inherit;
        }
    }
    > div.content {
        max-width: 70em;
        margin: 1em auto;

    }
}

::ng-deep .fullNav nav {
    height: 56px;
    margin: -24px -24px 0;
    padding: 0 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.agenda {
    width: 40em;
    margin: 0 auto;

    display: flex;
    align-items: flex-start;

    & > *:nth-child(1) {
        flex: 0 0 6em;
    }
    & > *:nth-child(2) {
        flex: 1 1 auto;
    }
    & > * {
        border: 1px solid red;
    }
}

.agenda .mat-card {
    margin: 0 0 0.5em;
}
