<mat-sidenav-container>
	<mat-sidenav #sidenav mode="over" position="end" autoFocus="false">
		<mat-nav-list>
			@for (l of navLinks; track l) {
			<a mat-list-item [href]="l.url">
				<div matListItemTitle mat-line>{{l.longname}}</div>
				<div matListItemLine>{{l.detail}}</div>
			</a>
			}
		</mat-nav-list>
	</mat-sidenav>


	<mat-sidenav-content>
		<mat-toolbar>
			<div>
				<a href="/">madson.me</a>
				<div>
					<button mat-icon-button (click)="sidenav.open()">
						<mat-icon>menu</mat-icon>
					</button>
				</div>
			</div>
		</mat-toolbar>

		<div class="content">
			<router-outlet />
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>