:host {
	mat-toolbar > div {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		> a {
			text-decoration: none;
			color: inherit;
		}
	}

	mat-sidenav-container {
		width: 100vw;
		min-height: 100vh;
	}

	> div.content {
		max-width: 70em;
		margin: none;
		padding: 1em;
	}
}
