<mat-card *ngIf="data && data.length">
  <mat-card-content>
    <div *ngFor="let r of data" class="event" [ngClass]="{'grey':r.ispast}" (click)="gotoEvent(r)">
      <div class="icon">
        <mat-icon mat-list-icon *ngIf="r.istuesday">restaurant</mat-icon>
        <mat-icon mat-list-icon *ngIf="r.isthursday">fastfood</mat-icon>
        <mat-icon mat-list-icon *ngIf="r.islan">keyboard</mat-icon>
        <mat-icon mat-list-icon *ngIf="r.ismovie">local_movies</mat-icon>
        <mat-icon mat-list-icon *ngIf="r.isevent || r.issignup || r.issignupsimple || r.issignupnocount">event_note
        </mat-icon>
      </div>
      <div class="date">
        <div>{{r.date | date:'MMM-dd'}}</div>
        <small><small>{{r.date | date:'h:mm a'}}</small></small>
      </div>
      <div class="content">
        <div>{{r.title}}</div>
        <small>
          <span *ngIf="r.istuesday">Tuesday Night</span>
          <span *ngIf="r.isthursday">Thursday Lunch</span>
          <span *ngIf="r.islan">LAN Event</span>
          <span *ngIf="r.ismovie">Movie</span>
          <span *ngIf="r.isevent || r.issignup || r.issignupsimple || r.issignupnocount">Event</span>
          <span *ngIf="r.location && !r.isthursday"> @ {{r.location}}</span>
          <span *ngIf="r.location && r.isthursday"> by {{r.owner}}</span>
        </small>
      </div>
    </div>
  </mat-card-content>
</mat-card>