.event {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1;

  width: 24em;
  height: 4em;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 2em;

    width: 2em;
    height: 2em;
  }
  .date {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 0 0 4.5em;

    font-size: 1.1em;
    font-weight: bolder;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 0 0 16em;

    text-align: left;
  }
}
