<mat-card *ngFor="let r of data" (click)="goto(r)">
  <mat-card-header>
    <mat-icon mat-card-avatar *ngIf="r.istuesday">restaurant</mat-icon>
    <mat-icon mat-card-avatar *ngIf="r.isthursday">fastfood</mat-icon>
    <mat-icon mat-card-avatar *ngIf="r.islan">keyboard</mat-icon>
    <mat-icon mat-card-avatar *ngIf="r.ismovie">local_movies</mat-icon>
    <mat-icon mat-card-avatar *ngIf="r.isevent || r.issignup || r.issignupsimple || r.issignupnocount">event_note</mat-icon>
    <div mat-card-title>{{r.title}}</div>
    <div mat-card-subtitle>
      <span *ngIf="r.istuesday">{{r.date | date:'MMM-dd'}} Tuesday Night</span>
      <span *ngIf="r.isthursday">{{r.date | date:'MMM-dd'}} Thursday Lunch</span>
      <span *ngIf="!r.istuesday && !r.isthursday">{{r.date | date:'MMM-dd h:mm a'}}</span>
      <span *ngIf="r.location && !r.isthursday"> @ {{r.location}}</span>
      <span *ngIf="r.location && r.isthursday"> by {{r.owner}}</span>
    </div>
  </mat-card-header>
  <img mat-card-image *ngIf="0 && r.image" src="/event/img/{{r.image}}" alt="{{r.title}} Image" />
</mat-card>