<mat-tab-group>
  <mat-tab label="Seasons">
    <app-table-seasons></app-table-seasons>
  </mat-tab>
  <mat-tab label="Scoring">
    <app-table-scoring></app-table-scoring>
  </mat-tab>
  <mat-tab label="Houseguests">
    <app-table-houseguests></app-table-houseguests>
  </mat-tab>
  <mat-tab label="Players">
    <app-table-players></app-table-players>
  </mat-tab>
  <mat-tab label="Picks">
    <app-table-picks></app-table-picks>
  </mat-tab>
  <mat-tab label="Events">
    <app-table-events></app-table-events>
  </mat-tab>
  <mat-tab label="Adjustments">
    <app-table-adjustments></app-table-adjustments>
  </mat-tab>
</mat-tab-group>