/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.green {
  color: #080 !important;
}
.red {
  color: #800 !important;
}
.grey {
  color: #888 !important;
}

.right,
th.right,
th.mat-header-cell.right {
  text-align: right;
}

mat-card + mat-card {
  margin-top: 0.5em;
}
table {
  width: 100%;

  td + td,
  td.mat-cell + td.mat-cell {
    padding-left: 0.1em;
  }
  th + th,
  th.mat-header-cell + th.mat-header-cell {
    padding-left: 0.1em;
  }
}

mat-dialog-actions.split {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
