// Material fixes
table {
    width: 100%;
}

th.mat-header-cell:not(:first-of-type),
td.mat-cell:not(:first-of-type),
td.mat-footer-cell:not(:first-of-type) {
    padding-left: 12px;
}
th.mat-header-cell.right {
    text-align: right;
}

mat-form-field {
    display: block;
    width: 100%;
}

.ngx-mat-timepicker .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0 !important;
}

/* Not sure why I have to do this but... table header alignment! */
.mat-table .mat-header-cell {
    text-align: left;

    .mat-sort-header-button {
        text-align: left;
    }

    .mat-sort-header-position-before {
        text-align: right;

        .mat-sort-header-button {
            text-align: right;
        }
    }
}
